@CHARSET "UTF-8";

#wrap {
		position: absolute;
		left: 10%;
		top:  10%;
		display:none;
	
	}
		
.hidden
{
	display: none;
}

#prevNext
{
	margin-bottom: -2.5em;
}

#prevNext img
{
	position: relative;
	z-index: 2;
	cursor: pointer;
}

p
{
	margin: 0;
	padding: 0 1em;
	font-size: 1.5em;
	font-color:#0f0;
	position: relative;
	top: -50px;
	line-height: 50px;
	height: 100px;
	background: rgb(248, 243, 243);
	opacity: 1;
	filter:alpha(opacity=70);
}