*{
	margin:0px;
	padding:0px;
}
img{border:0px;}
html{
	width:100%;
	height:100%;
}
body{
	width:100%;
	height:100%;
	background:url(/images/bg.jpg) center  no-repeat;
}
#site{
	width:1024px;
	margin:0 auto;
}
#header{
	width:1024px;
	overflow:hidden;
	position:relative
}
.logo{
	margin:0 0 0 40px;
	float:left;
}

.labelClass{
	display: block;
	float: left;
	height: 27px;
	font-size: 12px;
	line-height: 27px;
}

.inputClass{
	border: none;
	height: 14px;
	width: 240px;
	line-height: 14px;
	padding: 6px 0 6px 10px;
	font-size: 12px;
	border-top: 1px solid rgb(202, 202, 202);
	border-left: 1px solid rgb(202, 202, 202);
	border-right: 1px solid rgb(240, 240, 240);
	border-bottom: 1px solid rgb(240, 240, 240);
	float: left;
	margin-right: 5px;
}

.selectClass{
	float: left;
	height: 28px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	margin-right: 10px;
}

.btnClass {
	width: 71px;
	height: 30px;
	padding-left: 30px;
	line-height: 30px;
	text-align: left;
	color: rgb(0, 64, 125);
	font-weight: bold;
	font-size: 12px;
	background: url("/images/searchBut.png") no-repeat left top;
	border: none;
	cursor: pointer;
}

#menu{
	border-radius: 15px 25px 0px 0px; 
	-webkit-border-radius: 15px 25px 0px 0px; 
	-moz-border-radius: 15px 25px 0px 0px; 
	background:url(/images/menu_bg.jpg) top left no-repeat;
	width:1000px;
	height:46px;
	float:left;
	margin:0 0 0 0;
	padding:1px 0 0 4px;
}

#menu ul{
	overflow:hidden;
	float:left;
	padding:0 3px 0 0;
}
#menu li{
	display:inline;
	list-style-type:none;
}
#menu a{
	display:block;
	float:left;
}
.but1{background:url(/images/but1.jpg) top left no-repeat;}
.but2{background:url(/images/but2.jpg) top left no-repeat;}
.but3{background:url(/images/but3.jpg) top left no-repeat;}
.but4{background:url(/images/but4.jpg) top left no-repeat;}
.but5{background:url(/images/but5.jpg) top left no-repeat;}
.but6{background:url(/images/but6.jpg) top left no-repeat;}
#menu a:hover, .active{
	background-position:bottom left
}
#meta{
	position:absolute;
	top:134px;
	right:51px;
	/ right:47px;
}
#meta li{
	display:inline;
	list-style-type:none;
}
#meta a{
	display:block;
	float:left;
	margin:0 6px 0 0;
}


.meta1{background:url(/images/meta1.jpg) top left no-repeat;}
.meta2{background:url(/images/meta2.jpg) top left no-repeat;}
.meta3{background:url(/images/meta3.jpg) top left no-repeat;}
#meta a:hover{
	background-position:bottom left
}

#menu input{
	background:url(/images/search_bg.gif) top left no-repeat;
	width:140px;
	height:14px;
	padding:2px 23px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#171717;
	border:0px;
	margin:11px 0 0 60px;
}

#content{
	width:1000px;
	background:url(/images/content_bg.jpg) top left no-repeat;
	overflow:hidden;
	padding:0 0 20px 0;
}

#main
{
	width:980px;
	float:left;
	overflow:hidden;
	padding: 5px;
}


.current{
	border:solid 5px #000000;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
	width:965px;
	height:600px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#DBE0E8;
	padding:0 0 25px 0;
}

#sidebar{
	width:980px;
	float:left;
	height:300px;
	z-index:1000;
}

.current p{
	display:block;
	float:left;
	width:520px;
	padding:22px 0 0 35px;
}


.current_link{
	display:block;
	float:left;
	margin:15px 0 0 5px;
}

.more{
	display:block;
	margin:0 0 0 80px;
}



.news{
	width:272px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#6D7072;
}

.news div{
	//background:url(/images/news_bg.jpg) top left no-repeat;
	width:240px;
	padding:4px 1px; ;
	float:left;
}
.news p{
	padding:0 0 18px 0;
}

#sidebar .more{
	margin:0 0 0 60px;
}

.container{
	float:left;
	margin:100px 0 20px 0;
	width:240px;
	background:url(/images/blue.png) repeat-x top left; 
	color:#074384;
}

.sponsors{
	border:solid 2px #000000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 4px;
	margin: 0 0  5px 5px;
	float:left;
	width:235px;
	background:url(/images/grey.png) repeat-x top left; 
	color:#6D7072;
	cursor:pointer;
}

.sponsors a{
	font-weight:bolder;
	text-align:center;
}

.block{
	float:left;
	margin:0 0 20px 0;
}

.sponsors_down
{
	display:none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 5px;
	border-radius: 4px;
	margin-top:5px;
	float:left;
	width:238px;
	height:300px;
	color:#6D7072;
	scrollbar-arrow-color:yellow;
	scrollbar-base-color:lightsalmon;
}

.sponsors a{
	border:solid 2;
	display:block;
	margin:11px 0 10px 13px;
	cursor:pointer;
}

.sponsors .subinfo
{	
}

.popular{
	margin:17px 0 0 15px;
}
.popular li{
	list-style-type:none;
	background:url(/images/bullet.gif) left 3px no-repeat;
	padding:0 0 0 25px;
	line-height:23px;
	height:23px;
}
.popular a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#6D7072;
	text-decoration:underline
}
.popular a:visited{text-decoration:underline}
.popular a:hover{text-decoration:none}

#footer{
	width:100%;
	border-top:1px solid #D0D1D2;
	padding:15px 0 70px 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	z-index:0;
	color:#6D7072;
}
#footer span{
	float:left;
}
#footer div{
	width:988px;
	margin:0 auto;
	padding:0 0 0 15px;
}
#footer a{
	color:#0893EF;
	text-decoration:underline
}
#footer a:visited{text-decoration:underline}
#footer a:hover{text-decoration:none}
#footer .bft{text-decoration:none}
#footer .bft:visited{text-decoration:none}
#footer .bft:hover{text-decoration:underline}

#navigation{
	display:block;
	float:right
}
#navigation li{
	display:inline;
	list-style-type:none;
}
#navigation a{
	margin:0 10px;
}



/*
 * bottom_menu ש½
 */

.bottom_menu
{
	margin: 10px;
	padding: 5px 5px;
	font-family: 'Droid Serif', Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
	font-size: 14px;

}


div#navigate{	
	background: rgb(112, 112, 112); /* Old browsers */
	border-radius: 4px;
	height:50px;
}
#navigate ul, #navigation li{ 
	list-style:none; 
	padding:0; margin:0; 
	display:inline;
}

#navigate ul li{ float:left; position:relative; width:200px; height:50px;}

#navigate ul li a{ 
	display:block; 
	padding:13px 20px; 
	margin:1px; 
	font-size:18px;
	text-decoration:none;
	white-space:nowrap; 
	border-radius:3px;
}

#navigate ul li a:hover{ background: rgb(168, 167, 167);}
#navigate ul ul{ 
	position:absolute; 
	top:-99999px; 
	left:0;
	opacity: 0; /* Hide sub level */
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	z-index:1000; 
	background:#333; 
	padding: 2px; 
	border:1px solid #444; 
	border-top:none; 
	box-shadow:#111 0 3px 4px; 
	border-bottom-left-radius:6px; 
	border-bottom-right-radius:6px; 
}
#navigate ul ul ul { 
	position:absolute; 
	top:-99999px; 
	left:100%; 
	opacity: 0; 
	-webkit-transition: opacity .5s ease-in-out; /* Hide sub levels */
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	border-radius:6px;
	border:1px solid #444;
}
#navigate ul li:hover>ul{ opacity: 1; position:absolute; top:99%; left:0; }
#navigate ul ul li:hover>ul{ position:absolute; top:0; left:100%; opacity: 1; z-index:-500; background:#333; }



/**
 * popup_box
 */
   .poppup_overlay{ 
	      display: none;
		  position:fixed;
          top: 0%;
		  left: 0%;
          width: 100%;
          height: 100%;
          background-color: black;
		  background-position:fixed;
          z-index:1001;
          -moz-opacity: 0.8;
          opacity:.80;
          filter: alpha(opacity=80);
      }
	  
  * html .poppup_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
	}
  
    .poppup_content {
          display: none;
		  position:fixed;
          top: 30%;
          left: 42%;
          padding: 13px;
          border: 1px solid orange;
          background-color: white;
          z-index:1002;
          overflow: auto;
      }
	  
	* html .poppup_content { /* ie6 hack */
	position: absolute;
	margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}